:root {
    --red: #f52929;
    --blue: #0000cc;
    --lightBackground: #e0e0e0;
    --darkBackground: #1a1a1a;
    --outlineClockColor: #aaa;
    --tableSizeW: 40vw;
    --tableSizeH: 40vh;
    --calendarWidth: calc(var(--tableSizeW) + 3vw);
    --cellWidth: calc(var(--tableSizeW) / 7);
    --cellHeight: calc(var(--tableSizeH) / 7);
    --mobileClockSize: 50vmin;
    --desktopClockSize: 30vmin;
    
    --mobileTableSizeW: 70vw;
    --mobileTableSizeH: 70vw;
    --mobileCalendarWidth: calc(var(--mobileTableSizeW) + 5vw);
    --mobileCellWidth: calc(var(--mobileTableSizeW) / 7);
    --mobileCellHeight: calc(var(--mobileTableSizeH) / 7);
}

@font-face {
    font-family: robotoThin;
    src: url("../assets/fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: robotoRegular;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: robotoBold;
    src: url("../assets/fonts/Roboto-Bold.ttf");
}
